/* Footer Styling */
.footer {
  font-family: "Mochiy Pop P One", sans-serif;
  background: var(--dark-background); /* Dark background */
  color: #f8f9fa; /* Light text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  gap: 12em;
}

/* Footer Sections */
.footer-section {
  flex: 1;
  text-align: left;
  min-width: 250px;
  color: #f8f9fa; /* Light text */
}

/* Footer Links */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
  color: #f8f9fa; /* Light text */
}

.footer-section ul li a {
  color: #f8f9fa;
  text-decoration: none;
  font-size: 14px;
}
.footer-section > * {
  font-size: 14px;
  color: #f8f9fa;
  font-family: "Mochiy Pop P One", sans-serif;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}
.follow {
  margin-left: 10px;
}
/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  width: 22px;
  height: 22px;
  color: #f8f9fa;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #ddd;
}
.footer-section > h4,
.footer-section > h3 {
  font-size: 16px;
}
