.signup-container {
  background: white;
  padding: 40px;
  width: 400px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.signup-body {
  min-height: 120vh;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.voxhire-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.success-message {
  color: green;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.signup-body > input,
.signup-body > select {
  width: auto;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 1rem;
}

.login-button {
  background-color: var(--primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #187a99;
}

/* Login section */
.login-text {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--text2);
}

.login-btn {
  background: none;
  min-width: 1em;
  background-color: var(--background);
  border: none;
  color: var(--primary);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.login-btn:hover {
  background-color: var(--primary);
  color: var(--background);
}
